
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="mdi mdi-monitor-dashboard menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <i class="mdi mdi-page-previous menu-icon"></i>
                <span class="menu-title">Siteyi Görüntüle</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/About/Index/">
                <i class="mdi mdi-information menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Service/Index/">
                <i class="mdi mdi-face-agent menu-icon"></i>
                <span class="menu-title">Hizmetlerimiz</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <i class="mdi mdi-account-group-outline menu-icon"></i>
                <span class="menu-title">Takım Arkadaşlarımız</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Report/Index/">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Raporlar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Announcement/Index/">
                <i class="mdi mdi-bullhorn menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <i class="mdi mdi-message-alert menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/SocialMedia/Index/">
                <i class="mdi mdi-link-box-variant menu-icon"></i>
                <span class="menu-title">Sosyal Medya</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-map-marker menu-icon"></i>
                <span class="menu-title">Adres Bilgileri</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Image/Index/">
                <i class="mdi mdi-image-album menu-icon"></i>
                <span class="menu-title">Görseller</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Profile/Index/">
                <i class="mdi mdi-account-settings menu-icon"></i>
                <span class="menu-title">Profil Ayarları</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <i class="mdi mdi-exit-to-app menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
